.title {
	font-size: 10px;
	color: red;
	
}

.about {
	color: #555;
    display: block;
    padding-bottom: 0px;
    margin-bottom: 10px;
    border-bottom: none;
    white-space: nowrap;
    overflow-x: auto;
    background: transparent;
    border-radius: 0px;
    margin-top: 0px;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
	background: rgb(211, 211, 211, 0.3);
}

