.body{
	margin-left:10%;
	margin-right:10%;
	
}
.card group{
	width: 50px;
}

.group{
	max-width: 150px;
	height: 30px;
	front-size:15px;
	color: black;
	background:white;
	padding-left: 5px;
}	
.group:hover{
	border-color:red;
}
.groupAlbum{
	margin-left:10%;
	margin-right:10%;
	background: white;
}
.ImageAlbum{
	width:50px;
}
.NameAlbum{
	padding: 10px;
	font-size:15px;
	margin:10px;
}
.blockAlbum{
	
	border-color: orange;
}