body {
    font-family: 'Open Sans', 'Arial';
    font-size: 13px;
    font-weight: 400;
    color: #000;
    background-color: #eee;

}

 .block-title-h1{
  		background-color:tomato;
  	}
.breadcrumb {
	white-space: nowrap;
	overflow-x: auto;
	background: transparent;
	border-radius: 0px;
	font-size: 12px;
	font-weight: 400;
	border-bottom: 1px solid #ECECEC;
	color: #858585;
}
.breadcrumb {
	color: #555;
	display: block;
	border-bottom: none;
}

ul {
	    list-style-type: none;
	}

.bgmenu_cate_item {
    padding: 5px 0px;
    margin-bottom: 15px;
}
@media(max-width: 767px){
	.bgmenu_cate_item{
		padding: 5px 0px;
	}
} 

 ul.menu_cate_hoz_item>li {
    float: left;
    margin: 3px 5px 3px 0;
    padding: 0px;
}
ul.menu_cate_hoz_item>li h2 a{
	font-weight: 400;
	color: #333;
}
@media(max-width: 767px){
	ul.menu_cate_hoz_item>li{
		margin: 2px 4px 2px 0px;
	}
}
ul.menu_cate_hoz_item>li h2{
	margin: 0px;
}
ul.menu_cate_hoz_item>li>a {
    background: #fff;
    border: 1px solid #f1f1f1;
    color: #414141;
    font-size: 12px;
    padding: 5px 10px;
    display: block;
    cursor: pointer;
    white-space: nowrap;
}
ul.menu_cate_hoz_item>li>a:hover{
	border-color: #F78F24;
}




/*##### NEWS #####*/
.block-news {
	margin-top: 20px;
	margin-bottom: 20px;
}
.block-news .block-content{
	border: 1px solid #f3f3f3;
	padding: 6px 20px;
	/* margin-bottom: 20px; */
	background: #fff;
}
@media(max-width: 767px){
	.block-news .block-content{
		padding: 0px;
		border: none;
		margin-bottom: 0px;
	}
}
.block-news.news {
	margin-top: 0px;
}
.block-news .block-title {
    margin-bottom: 12px;
}
.block-news .block-title .img {
	display: block;
	width: 30px;
	height: 30px;
	float: left;
	margin-top: 5px;
	margin-right: 8px;
	position: relative;
}
.block-news .block-title .img > img {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}
.block-title h3 {
	border-left: 6px solid #F78F24;
	font-size: 24px;
	font-weight: 400;
	padding-left: 15px;
	margin: 22px 0px 20px;
	padding-bottom: 2px;
}
.block-news .block-title a {
	color: #414141;
}
.block-news .block-content .item .img:before {
    content: '';

    background-size: 35px;
    display: block;
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 50px;
    top: 40%;
    margin-top: -25px;
    left: 50%;
    opacity: 0;
    margin-left: -25px;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.block-news .block-content .item .img:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
    opacity: 0;
    background: rgba(0,0,0,0.4);
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.block-news .block-content .item .img:hover:before {
    top: 50%;
    opacity: 1;
}
.block-news .block-content .item .img:hover:after {
    opacity: 1;
}
.block-news .block-title .sub-cate {
	text-align: right;
	font-size: 14px;
	height: 40px;
	overflow: hidden;
}
.block-news .block-title .sub-cate a:hover {
	color: #F78F24;
}
.block-news .block-title .sub-cate > a+a {
	margin-left: 5px;
}
.block-news .block-title .sub-cate > a+a:before {
	content: "|";
	color: #e8e8e8;
	margin-right: 5px;
}
@media screen and (max-width: 992px) {
	.block-news .block-title .sub-cate {
		display: none;
	}
}
.block-news .block-content .item {
	margin-top: 4px;
    margin-bottom: 4px;
    border: 1px solid #e3e3e3;
    padding: 5px;
}

.block-news .block-content .item .time{
	color: #999;
	margin: 15px 0px 0px 0px;
	font-weight: 300;
	padding: 0px 5px;
}
.block-news .block-content .item .time span i{
	margin-right: 5px;
	position: relative;
	top: -1px;
}
.block-news .block-content .item .time span:last-child{
	margin-left: 10px;
}
.block-news .block-content .col-md-3,
.block-news .block-content .col-sm-3 {
	padding-left: 4px;
	padding-right: 4px;
}
@media screen and (min-width: 768px) {
	.block-news .block-content > .row {
		margin: 0px -15px;
	}
}
@media screen and (max-width: 768px) {
	.block-news .block-content .item {
		margin-top: 0px;
	}
	.block-news .block-content .col-md-3 {
		padding-left: 5px;
		padding-right: 5px;
	}
	.block-news .block-content > .row {
		margin-left: -5px;
		margin-right: -5px;
	}
}
.block-news .block-content .item .img {
	display: block;
	width: 100%;
	height: 193px;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;background-position: center;
	overflow: hidden;
	position: relative;
}
.block-news .block-content .col-md-4 .item .img {
	height: 193px;
}

.block-news .block-content .item h3 {
	margin: 10px 0px;
	border-bottom: 1px solid #e3e3e3;
	padding: 0px 5px 5px 5px;
}
@media(max-width: 767px){
	.block-news .block-content .item h3 {
	    padding: 0px 10px 5px 10px;
	}
}
.block-news .block-content .item h3 a {
	font-size: 15px;
    line-height: 22px;
    overflow: hidden;
    display: block;
    font-weight: 600;
}
.block-news .block-content .item h3 a:hover{
	color: #d80100;
}

 .related .item h3 {
	margin-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 5px;
	border-bottom: none;
}
.related .item h3 a {
	font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    display: block;
    font-weight: 600;
    color: #414141;
}
.block-news .block-content .item p {
	line-height: 20px;
	overflow: hidden;
	text-align: justify;
	font-weight: 400;
	color: #777;
	padding: 0px 5px;
}
@media(max-width: 767px){
	.block-news .block-content .item p{
		padding: 0px 10px;
	}
}
@media screen and (min-width: 768px) {
	.block-news .block-content .item h3 a {
		height: 44px;
	}
	.detail-news .related .item h3 a {
		height: 40px;
	}
	.block-news .block-content .item p {
		height: 80px;
	}
}


 .detail-content {
	margin-top: 15px;

}

.detail-content .info {
	color: #858585;
	font-weight: 400;
	margin-bottom: 10px;
	font-size: 12px;
	float:left;

}
 
/*##### END NEWS #####*/

/*##### BLOCK #####*/
.detail{
	float:left;

}
.sidebar-left1{
	float:left;
}

.sidebar-right .sidebar-block:last-child {
	margin-bottom: 20px;

}
.sidebar-block+.sidebar-block {
	margin-top: 20px;

}
.sidebar-title {
	height: 40px;
	line-height: 36px;
	text-transform: uppercase;
	font-weight: 300;
	border-bottom: 5px solid #e48522;
	background: #F78F24;
	font-size: 13px;
	padding: 0px 10px;
	position: relative;
	margin-right: -6px;
	margin-bottom: 0px;
	/* white-space: nowrap; */
	/* overflow: hidden; */
	/* text-overflow: ellipsis; */
	color: #fff;
}
.sidebar-title:before{
	right: -3px;
	bottom: -12px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #e48522;
	border-width: 5px;
	margin-bottom: 0px;
}
.sidebar-title:after{
	bottom: -15px;
	right: 0px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #e48522;
	border-width: 5px;
}
.sidebar-content{
	position: relative;
}
.sidebar-content.news{
	padding-top:30px
}


.sidebar-content.news .item {
    border-bottom: 1px dotted #E4E4E4;
    padding-bottom: 5px;
    margin-bottom: 10px;
    height: 67px;
}
.sidebar-content.news .item .img {
	width: 70px;
	height: 56px; 
	display: block;
	float: left;
	overflow: hidden;
	margin-right: 5px;	
	background-size: cover;
}
.sidebar-content.news .item .img > img {
	width: 100%;
	height: auto;
	border: none;
	height: 100%;
	opacity: 0;
}

.sidebar-content.news .item  img {
	width: 70px;
	height: 56px; 
	display: block;
	float: left;
	overflow: hidden;
	margin-right: 5px;
	background-size: cover;
}
.sidebar-content.news .item h3 {
	color: #414141;
	font-size: 14px;
	max-height: 42px;
	overflow: hidden;
	margin: 0px;
}
.sidebar-content.news .item h3:hover a {
	color: #F78F24;
}
.sidebar-content.news .item .view {
	font-size: 12px;
	font-weight: 400;
	color: #848484;
}
/*##### END BLOCK #####*/