*{
    box-sizing: border-box;
}
.register-container{
    margin: 20px auto;
    background-color: #ececec;
}
.form-group{
    clear: both;
}
.control-label{
    display: inline-block;
    text-align: right;
    position: relative;
    float: left;
}
@media screen and (max-width: 600px){
    .control-label{
        text-align: left;
    }
}
.col-sm-6{
    display: inline-block;
}
.form-control{
    position: relative;
    float: left;
}
.form-control:focus{
    box-shadow: none;
    border: 1px solid #F78F24;
}
.form-group button{
    background-color: #F78F24;
    color: white;
    border: none;
    outline: none;
    margin-right: 15px;
    padding: 10px;
}
.group{
    display: inline-block;
}