<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Add Album</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/add_album.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div layout:fragment="content" style="min-height: 40vw">
		<div class="row mt-5">
			<div class="col-sm-8"
				style="border: none; margin-left: auto; margin-right: auto">
				<h3 style="text-align: center; margin-bottom: 30px;">Thêm Album</h3>
				<form id="user-form" th:method="post" class="form-horizontal"
					action="#" th:action="@{/addAlbum}" th:object="${album}"
					enctype="multipart/form-data">

					<div class="form-group">
						<label class="col-sm-4 control-label">Tên Album</label>
						<div class="col-sm-6">
							<input name="name" autocomplete = "off" required>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Thumbnail </label>
						<div class="col-sm-6">
							<input type="file" id="myfile" name="myfile"
								accept="image/png, image/jpeg" />
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-8 offset-sm-4">
							<img class="img-thumbnail-album" id="thumbnail" alt="Album Review" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-8 offset-sm-4">
							<button type="submit">Xác nhận</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function(){
				$('#myfile').change(function(){
					showImageThumbnail(this);
				});
			});
			
			function showImageThumbnail(fileInput){
				file = fileInput.files[0];
				reader = new FileReader();
				reader.onload = function(e){
					$('#thumbnail').attr('src', e.target.result);
				};
				reader.readAsDataURL(file);
			}
		</script>
	</div>

</body>
</html>