<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/register.css}" />
</head>

<body>
	<div layout:fragment="content">
		<section class="cart container">
			<div class="wrap-breadcrumb">

				<ul class="breadcrumb">
					<li><a href="/" title="Home page"><label th:text="#{label.homepage}"></label></a></li>
					<li><i class="fa fa-angle-right"></i></li>
					<li><a href="/contact" title="Contact"><label th:text="#{label.contact}"></label></a></li>
				</ul>
				<ul th:each="contact:${listContacts}" style="list-style-type: none">
					<li><label th:text="#{label.phone}"></label>: <label th:text="${contact.phone}"></label></li>
					<li>Email: <label th:text="${contact.email}"></label></li>
					<li><label th:text="#{label.address}"></label>: <label th:text="${contact.address}"></label></li>
					<li th:if="${session.userRole  == 'ADMIN'}" style="background-color: orange; width: fit-content;">
						<a type="submit" style="color: white;" th:href="@{'/contactUpdate/' + ${contact.id}}">
							<label th:text="#{label.update}"></label>
						</a></li>              
				</ul>
			</div>
		</section>
	</div>
</body>

</html>