<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/register.css}" />
</head>

<body>
	<div layout:fragment="content">
		<section class="cart container">
			<div class="wrap-breadcrumb">
				<ul class="breadcrumb">
					<li><a href="/" title="Home page"><label th:text="#{label.homepage}"></label></a></li>
					<li><i class="fa fa-angle-right"></i></li>
					<li><a href="/contact" title="Contact"><label th:text="#{label.contact}"></label></a></li>
				</ul>
				<div align="center">
					<h4>Cập nhật thông tin liên hệ</h4>
					<br />
					<form action="#" th:action="@{/saveContact}" th:object="${contact}" method="post">

						<table border="0" cellpadding="10">
							<tr hidden>
								<td>ID:</td>
								<td>
									<input style="width:650px" type="text" th:field="*{id}" readonly="readonly" />
								</td>
							</tr>
							<tr>
								<td>Điện thoại:</td>
								<td>
									<input style="width:650px" type="text" th:field="*{phone}" />
								</td>
							</tr>
							<tr>
								<td>Email:</td>
								<td><input style="width:650px" type="text" th:field="*{email}" /></td>
							</tr>
							<tr>
								<td>Địa chỉ:</td>
								<td><input style="width:650px" type="text" th:field="*{address}" /></td>
							</tr>
							<tr>
								<td align="center" colspan="2">
									<button style="background-color:orange; color:white; width:fit-content;" type="submit">Xác nhận cập nhật</button> 
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</section>
	</div>
</body>

</html>