<!-- Quang Dai -->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Document</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
		*{
            box-sizing: border-box;
        }
        .form-group{
            clear: both;
        }
        .control-label{
            display: inline-block;
            text-align: right;
            position: relative;
            float: left;
        }
        .col-sm-6{
            display: inline-block;
        }
        .form-control{
            position: relative;
            float: left;
        }
        .form-control:focus{
            box-shadow: none;
            border: 1px solid #F78F24;
        }
        .form-group button{
            background-color: #F78F24;
            color: white;
            border: none;
            outline: none;
            margin-right: 15px;
            padding: 10px;
        }
        .group{
            display: inline-block;
        }
</style>
</head>
<body>
	<div layout:fragment="content" style="margin-bottom: 5vw">
		<div class="row mt-5">
			<div class="col-sm-8" style="border: none; margin-left: auto; margin-right: auto">
				<h3 style="text-align: center; margin-bottom: 30px;"> Chỉnh sửa tài khoản</h3>
				<form id="user-form" th:method="post" class="form-horizontal" action="#" th:action="@{/users/save}" th:object="${user}">
					<div class="form-group" hidden>
						<label class="col-sm-4 control-label">ID</label>
						<div class="col-sm-6">
							<input th:field="*{id}" type="text" class="form-control" maxlength="45" readonly="readonly"> 
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Họ và tên</label>
						<div class="col-sm-6">
							<input th:field="*{name}" type="text" class="form-control" maxlength="45" required> 
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Email </label>
						<div class="col-sm-6">
							<input th:field="*{email}" type="email" class="form-control" maxlength="45" required> 
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label">Số điện thoại </label>
						<div class="col-sm-6">
							<input th:field="*{phoneNumber}" type="tel" pattern="[0-9]{8-11}" class="form-control" maxlength="11" required>
						</div>
					</div>
					<th:block th:if="${session.userRole == 'ADMIN'}">
						<div class="form-group">
							<label class="col-sm-4 control-label">ROLE</label>
							<div class="col-sm-6">
								<select class="form-control" th:field="*{role}">
									<option th:each="role : ${listRole}" th:value="${role}" th:text="${role}"></option>
								 </select>
							</div>
						</div>
					</th:block>
					<div class="form-group">
						<label class="col-sm-4 control-label">Mật khẩu</span></label>
						<div class="col-sm-6">
							<input th:field="*{password}" type="password" class="form-control" maxlength="24" minlength="6" required aria-autocomplete="list"> 
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-8 offset-sm-4">
							<button class="btn btn-primary" type="submit">Xác nhận</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>
