<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="layout">

<head>
	<title>Petshop Home Page</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!--START Insert css into banner  -->
	<script>
		$(document).ready(function () {
			$('.home-box').eq(0).addClass("active");
		});
	</script>
	<!-- END Insert css into banner  -->
</head>

<body>
	<div layout:fragment="content">
		<div>
			<section class="cart container clearfix">

				<div class="homeProfile container">
					<div class="homeProfile-box1">
						<img 
							th:src="${topleft != null}? @{'data:image/png;base64,'+ ${topleft.generateBase64Image()}} : 'https://i.pinimg.com/originals/d5/99/9f/d5999f4233dbd69cde74f53d2218e9e4.jpg'">
					</div>
					<div id="carouselExampleIndicators" class="carousel slide homeProfile-box2" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
							<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
							<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner">
							<a>
								<div class="carousel-item home-box" th:each="banner: ${topmiddle}">
									<img th:src="${topmiddle != null}? @{'data:image/png;base64,'+ ${banner.generateBase64Image()}} : 'https://i.pinimg.com/originals/d5/99/9f/d5999f4233dbd69cde74f53d2218e9e4.jpg'"
										class="d-block w-100" alt="ảnh nền">
								</div>

						</div>
						<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
							data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span
								class="sr-only">Previous</span>
						</a> <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
							data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
					<div class="homeProfile-box3">
						<img
							th:src="${topleft!= null}? @{'data:image/png;base64,'+ ${topleft.generateBase64Image()}} : 'https://www.larchmontbuzz.com/wp-content/uploads/2017/12/petsnewyearseve.jpg'">
					</div>
				</div>
				<br>
				<div class="homeProfile container">
					<h2 class="new-product-head">SẢN PHẨM MỚI</h2>
				</div>
				<br>
				<div class="homeProfile column">
					<div class="clearfix">
						<a th:each="pros:${hotPro}" th:href="@{'/productDetail/'+${pros.id}}">
							<div class="box">

								<div class="product-img-container" style="text-align: center;">
									<img th:src="@{'data:image/png;base64,'+ ${pros.generateBase64Image()}}"
										alt="sp911"><br><br>
									<p th:text="${pros.name}"></p>
								</div>

							</div>
						</a>

					</div>
				</div>
		</div>
		<br>

	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

</body>

</html>