<!DOCTYPE html>
<html lang="en" mlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
	
	
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
	
	
<head>
<meta charset="UTF-8">
<title>News</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/bannerpage.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="/assets/richtext/banner.js"></script>
</head>

<body>
	<div layout:fragment="content">
		<div class="block-title-h1">
			<div class="container"></div>
		</div>

		<div class="cart container">
			<div class="wrap-breadcrumb">
				<div class>
					<ul class="breadcrumb">
						<li><a href="/" title="Trang chủ">Trang chủ</a></li>
						<li><i class="fa fa-angle-right"></i></li>
						<li><a href="/news" title="Tin tức">Banner</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container ">
			<div class="bgmenu_cate_item"></div>
		</div>


		<div class="block-news">
			<div class="container">
				<div class="block-content">
					<div class="row">
						<div id="wrapper">
							<div class="title">Edit</div>
							<div id="form">
								<form action="#" method="post" name="add-form" th:action="|/managebanner/edit/${banner.id}|" th:object="${banner}" 
								enctype='multipart/form-data'>
									<div class="row">
										<p>Title</p>
										<input type="text" th:field="*{title}">
										
									</div>

									<div class="row">
										<p>URL</p>
										<input type="text" th:field="*{url}" maxlength="45" required>
										
									</div>

									<div class="row">
										<p>Alt</p>
										<input type="text" th:field="*{alt}">
										
									</div>

									<label for="position">Choose a position:</label> <select th:field="*{position}">
										<option value="top-right">top-right</option>
										<option value="top-left">top-left</option>
										<option value="top-middle">top-middle</option>
									</select> <br>
									<br>
									<div class="row"
										style="display: flex; flex-direction: column-reverse;">
										<input type='file' id="imgInp" name="file" /> <img
											id="blah" th:src="@{'data:image/png;base64,'+ ${banner.generateBase64Image()}}" alt="your image"
											style="max-width: 250px; padding-bottom: 10px;" />
										
									</div>

									<div class="row">
										<input type="submit" value="Save" name="submit"> <input
											type="button" value="Cancel" name="cancel" id="cancel-button">
									</div>
								</form>
							</div>
						</div>




					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>