<!DOCTYPE html>
 <!-- @author Tien Loc -->
<html lang="en" mlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">
<head>
<meta charset="UTF-8">
<title>Product</title>
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/news.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
	<div layout:fragment="content">
		<div class="cart container">
			<div class="wrap-breadcrumb">
				<div class>
					<ul class="breadcrumb">
						<li><a href="/" title="Trang chủ">Trang chủ</a></li>
						<li><i class="fa fa-angle-right"></i></li>
						<li><a href="/product" title="Sản phẩm">Sản phẩm</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="block-news">
			<div class="container">
				<div class="block-content">
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-12"
							th:each="Aproduct:${ProductAll}">
							<div class="item">
								<a th:href="@{'/productDetail/'+${Aproduct.id}}" class="img">
									<img th:src="@{'data:image/png;base64,'+ ${Aproduct.generateBase64Image()}}" alt="" width="278"
									height="278">
								</a>
								<div style="text-align: center;">
									<h3>
										<a th:href="@{'/productDetail/'+${Aproduct.id}}"
											th:title="${Aproduct.name}" th:text="${Aproduct.name}"></a>
									</h3>
									<h7>Mã sản phẩm : </h7>
									<h7 th:text="${Aproduct.id}"></h7>
									<br>
									<h9>Giá: </h9>
									<h9 th:text="${Aproduct.price}"></h9>
									<h9>đ</h9>
									<br>
									<h2> 	
										<a th:if="${session.userRole  == 'ADMIN'}" th:href="@{'/product/edit/' + ${Aproduct.id}}"><i
											class="fa fa-cog"></i></a>  
										<a th:if="${session.userRole  == 'ADMIN'}" onclick="return func(this);" class="idclass"data-toggle="modal"
											data-target="#exampleModal"  th:id="${Aproduct.id}" th:name="${Aproduct.name}"><i
											class="fa fa-trash"> </i></a>
									</h2>
								</div>
							</div>
						</div>
						
						<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-body">
										<a> <b>Do you want to delete this product ?</b></a>
										
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Close</button>
										<a id="deletebtn" href="#" type="submit" class="btn btn-primary">Delete</a>
									</div>
								</div>
							</div>
						</div>

						<script type="text/javascript">
							function func(e){
								var link = "/product/delete/" + e.getAttribute("id");
								var name = e.getAttribute("name");
								$("modal-body a").attr("value", name);
								$("#deletebtn").attr("href", link);
							}
						</script>
						<div class="col-md-3 col-sm-6 col-xs-12" th:if="${session.userRole  == 'ADMIN'}">
							<div class="item">
								<a th:href="@{/product/add}"> <img
									th:src="@{/assets/image/add_news.png}" alt="add news"
									width="100%" height="100%">
								</a>
								<div style="text-align: center;">
									<h3>
										<a th:href="@{/product/add}"> Add new Product </a>
									</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
</body>
</html>