<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  layout:decorator="layout">
<head>
	<title>Search page</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- Bootstrap CSS -->
	<link rel="stylesheet"
		  href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		  crossorigin="anonymous">

	<link rel="stylesheet" type="text/css"
		  th:href="@{/assets/css/product.css}" />
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<link rel="stylesheet"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- jQuery library -->
	<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>

<body>
<div layout:fragment="content">
	<div class="cart container">
		<div class="wrap-breadcrumb">
			<div class>
				<ul class="breadcrumb">
					<li><a href="/" title="Trang chủ">Trang chủ</a></li>
					<li><i class="fa fa-angle-right"></i></li>
					<li><a href="/search" title="Sản phẩm">Sản phẩm</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="block-news" >
		<div class="container">
			<span th:unless="${totalPages}">
				<div class="alert alert-primary" role="alert">
					Không tìm thấy sản phẩm
				</div>
			</span>
			<span th:if="${totalPages}">
			<div class="block-content">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12"
						 th:each="pros:${searchProduct}">
						<div class="item">
							<a th:href="@{'/productDetail/'+${pros.id}}" class="img"> <img
									th:src="@{'data:image/png;base64,'+ ${pros.generateBase64Image()}}" alt="" width="278" height="278">
							</a>

							<div style="text-align: center;">
								<h3>
									<a th:href="@{'/productDetail/'+${pros.id}}"
									   th:title="${pros.name}" th:text="${pros.name}"></a>
								</h3>
								<h7>Mã sản phẩm : </h7>
								<h7 th:text="${pros.id}"></h7>
								<br>
								<h9>Giá: </h9>
								<h9 th:text="${pros.price}"></h9>
								<h9>đ</h9>
							</div>

						</div>

					</div>
				</div>
			</div>
			<!--	Paging-->
			<div class="paging">
				&nbsp;<div class="timsanpham">
					<span>
						<ul class = "nav nav-pills">
							<li class ="nav-item"
								th:each="i:${#numbers.sequence(1, totalPages)}">
								<a th:href="@{/search(keyword=${keyword},page=${i})}" th:text = "${i}" class="nav-link"
						   			th:classappend="${currentPage}==${i}?'active':''"></a>
							</li>
						</ul>
					</span>

				</div>
			</div>


			<!--	Eng Paging-->
				</span>
		</div>


	</div>

</div>
