<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorator="layout">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css"
	th:href="@{/assets/css/register.css}" />
</head>

<body>
	<div layout:fragment="content">
		<section class="cart container">
			<div class="wrap-breadcrumb">
				<ul class="breadcrumb">
					<li><a href="/" title="Home page"><label>Trang
								chủ</label></a></li>
					<li><i class="fa fa-angle-right"></i></li>
					<li><a href="/video" title="Video Clips"><label>Video
								Clips</label></a></li>
				</ul>
				<div align="center">
					<h4>Tạo mới video</h4>
					<br />
					<form th:action="@{/video/save}" th:object="${video}" method="post">

						<table border="0" cellpadding="10">
							<tr>
								<td>Chủ đề:</td>
								<td><input style="width: 650px" type="text"
									th:field="*{title}" /></td>
							</tr>
							<tr>
								<td>Link Thumbnail:</td>
								<td><input style="width:650px" type="text" th:field="*{thumbnail}" required/></td>
							</tr>
							<tr>
								<td>Link Video:</td>
								<td><input style="width:650px" type="text" th:field="*{srcVideo}" required/></td>
							</tr>
							<tr>
								<td>Mô tả:</td>
								<td><input style="width: 650px" type="text"
									th:field="*{description}" /></td>
							</tr>
							<tr hidden="true">
								<td>Lượt xem:</td>
								<td><input style="width: 650px" type="text"
									th:field="*{view}" value=0 /></td>
							</tr>
							<tr>
								<td align="center" colspan="2">
									<button
										style="background-color: orange; color: white; width: fit-content;"
										type="submit">Tạo mới</button>
								</td>
							</tr>
						</table>
					</form>
				</div>
				<br>
				<div class="guide" align="center">
					<a href="/video/guide">*Hướng dẫn cách lấy link source và link
						thumbnail của video từ youtube.</a>
				</div>
				<br>
			</div>
		</section>
	</div>
</body>

</html>