<!DOCTYPE html>
<html lang="en" mlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="layout">

<head>
    <meta charset="UTF-8">
    <title>Video</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/video.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div layout:fragment="content">
        <div class="cart container">
            <div class="wrap-breadcrumb">
                <div class>
                    <ul class="breadcrumb">
                        <li><a href="/" title="Trang chủ">Trang chủ</a></li>
                        <li><i class="fa fa-angle-right"></i></li>
                        <li><a href="/video" title="Tin tức">Video Clips</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container ">
            <div class="bgmenu_cate_item">

                <ul class="menu_cate_hoz_item category">
                    <li><a title="Video nổi bật">Video nổi bật</a></li>

                </ul>
            </div>
        </div>


        <div class="block-video video">
            <div class="container">
                <div class="block-content">
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12 left">
                            <div class="item">
                                <a th:href="@{'/video/'+${firstVideo.id}}"
                                    th:title="${firstVideo.title}"
                                    class="img"
                                  >
                                     <img 
                                     	
                                        th:src="${firstVideo.thumbnail}" height="275"
                                        th:onerror="'this.src=\'' + @{/assets/image/video/default-thumbnail.jpg} + '\';'"
                                        th:alt="${firstVideo.title}"
                                        class="img-responsive">
                                    </a>
                                <div class="info">
                                    <h3><a th:href="@{'/video/'+${firstVideo.id}}"
                                            th:title="${firstVideo.title}" th:text="${firstVideo.title}"></a></h3>
                                    <a href="#" title="Video nổi bật" class="name_category">Video
                                        nổi bật</a>
                                </div>
                                
                                <a onclick="return func(this);" class="idclass" data-toggle="modal" data-target="#exampleModal" th:id="${firstVideo.id}" th:if="${session.userRole  == 'ADMIN'}" style="float: right;"><i class="fa fa-trash"> </i></a>
                                        
                                
                            </div>
                        </div>
                                         
                        <div class="col-md-7 col-sm-7 col-xs-12 right">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12" th:each="video:${lstVideos}">
                                    <div class="item">
                                        <a th:href="@{'/video/'+${video.id}}"
                                            th:title="${video.title}"
                                            class="img"
                                            >
                                               <img
                                                
                                                th:src="${video.thumbnail}" height="162"
                                                th:onerror="'this.src=\'' + @{/assets/image/video/default-thumbnail.jpg} + '\';'"
                                                th:alt="${video.title}"
                                                class="img-responsive"></a>
                                        <div class="info">
                                            <h3><a th:href="@{'/video/'+${video.id}}"
                                                    th:title="${video.title}" th:text="${video.title}"></a></h3>
                                            <a href="#" title="Video nổi bật"
                                                class="name_category">Video nổi bật</a>
                                        </div>
                                        
                                        <a onclick="return func(this);" class="idclass" data-toggle="modal" data-target="#exampleModal" th:id="${video.id}" th:if="${session.userRole  == 'ADMIN'}" style="float: right;"><i class="fa fa-trash"> </i></a>        
                                        
                                    </div>
                                    
                                    <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <a>Bạn có muốn xóa video này không?</a>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <a id="deletebtn" href="#" type="submit" class="btn btn-primary">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                function func(e) {
                                    var link = "/video/delete/" +
                                        e.getAttribute("id");
                                    $("#deletebtn").attr("href", link);
                                }
                            </script>
                                    
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-12" th:if="${session.userRole  == 'ADMIN'}"  >
                                    <div class="item">
                                        <a th:href="@{/video/new}"> <img th:src="@{/assets/image/add_news.png}" alt="add video" width="99%" height="99%">
                                </a>

                                    </div>
                                </div>
                       
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    
    
    
  
    
</body>

</html>